.space {
  height: 200px;
  width: 120px;
  border: 1px solid #000;
  text-transform: uppercase;
}

.space-header {
  height: 40px;
  border-bottom: 1px black solid;
}

.space-footer {
  margin-top: 65px;
}