.board {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.inner, .outer {
  border: 1px solid #000;
}

.outer {
  height: 1200px;
  width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner {
  height: 800px;
  width: 800px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.inner h1 {
  font-size: 80px;
  font-weight: 700;
  margin: 0;
}

.diagonal {
  transform: rotate(-45deg);
}