.card {
  width: 200px;
  height: 300px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  text-align: center;
  padding: 3px;
  margin: 5px;
}

.property-header {
  width: 99%;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 1px solid black;
  margin: 0 auto;
}

.property-name {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
}

.title-deed {
  font-size: 0.6rem;
}

.property-rent {
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0.5rem;
}

.property-wh {
  width: 100%;
}

.house,
.hotel {
  display: flex;
  flex-direction: horizontal;
  justify-content: space-between;
  margin: 0 10px;
  font-size: 0.8rem;
}

/* TODO: Make rest of the text 0.8rem*/

.property-footer {
  font-size: 0.5rem;
  color: grey;
}

.mortgage-value,
.houses-cost,
.hotel-cost {
  font-size: 0.8rem;
}

.mortgage-value {
  margin: 0.3rem;
  font-weight: bold;
}

.house-hotel-cost {
  margin: 0.3rem;
}

.icon-property-name {
  margin: 1rem;
}

.icon-property-image {
  width: auto;
  height: 60%;
  object-fit: cover;
  border-radius: 5px;
  border: 1px solid black;
  margin: 1rem;
}
