.board {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.inner, .outer {
  border: 1px solid #000;
}

.outer {
  height: 1200px;
  width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner {
  height: 1000px;
  width: 1000px;
}
