.board {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.inner, .outer {
  border: 1px solid #000;
}

.outer {
  height: 1200px;
  width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner {
  height: 1000px;
  width: 1000px;
}

.space {
  height: 200px;
  width: 120px;
  border: 1px solid #000;
  text-transform: uppercase;
}

.space-header {
  height: 40px;
  border-bottom: 1px black solid;
}

.space-header.green {
  background-color: #00ff00;
}

.space-footer {
  margin-top: 65px;
}