.board {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.inner, .outer {
  border: 1px solid #000;
}

.outer {
  height: 1200px;
  width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner {
  height: 800px;
  width: 800px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.inner h1 {
  font-size: 80px;
  font-weight: 700;
  margin: 0;
}

.diagonal {
  transform: rotate(-45deg);
}

.space {
  height: 200px;
  width: 120px;
  border: 1px solid #000;
  text-transform: uppercase;
}

.space-header {
  height: 40px;
  border-bottom: 1px black solid;
}

.space-header.brown {
  background-color: #a52a2a;
}

.space-header.light-blue {
  background-color: #add8e6;
}

.space-header.pink {
  background-color: #ffc0cb;
}

.space-header.orange {
  background-color: #ffa500;
}

.space-header.red {
  background-color: #ff0000;
}

.space-header.yellow {
  background-color: #ffff00;
}

.space-header.green {
  background-color: #00ff00;
}

.space-header.blue {
  background-color: #0000ff;
}

.space-footer {
  margin-top: 65px;
}